body {
  background-color: limegreen;
}

h1 {
  text-align: center;
  color: white;
  font-size: 5rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

h5.card-title {
  text-align: center;
}

.card {
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
